nodes/
local-mode-cache/
.delivery/
tmp/

.vagrant
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~

# Bundler
cookbooks/*/Gemfile.lock
cookbooks/*/gems.locked
cookbooks/*/bin/*
cookbooks/*/.bundle/*

# test kitchen
cookbooks/*/.kitchen/
cookbooks/*/.kitchen.local.yml

# Chef
cookbooks/*/Berksfile.lock
cookbooks/*/.zero-knife.rb
cookbooks/*/Policyfile.lock.json

# Custom
.next